@import 'bootstrap';
@import './welcome';
@import './navbar';
@import './header';
@import './footer';
@import './login';
@import './register';
@import './formAnnunci';
@import './card';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import './dettaglio';