h1{
    font-family: carrots;
    text-shadow:-2px 0 rgb(74, 25, 44), 0 2px rgb(74, 25, 44), 2px 0  rgb(74, 25, 44), 0 -2px  rgb(74, 25, 44);
}
    

h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4{
    font-family: spective;
}
*{
   
    font-family: comic sans Ms ;
}
:root{
    --acqua-marina:	 rgb(0,255,255);  
    --blue :rgb(0,0,255) ;
    --aliceblue: rgb(240,248,255);
    --darkorchid:rgb(153,50,204);
    --black: rgb(0, 0, 0);
}
.bg-acqua-marina{
    background-color: var(--acqua-marina);
}
.bg-darkorchid{
    background-color: var(--darkorchid);
}
.bg-black{
    background-color: var(--black);
}
.bg-aliceblue{
    background-color: var(--aliceblue);
}
.text-blue{
    color: var(--blue);
}
.text-black{
    color: var(--black);
}
.text-aliceblue{
    color: var(--aliceblue);
}
.text-darkorchid{
    color: var(--darkorchid);
}

.header{

    background-image:url(/public/img/bella\ questa.jpg);
    height: 130vh;
    background-size: cover;
}
h1{
    font-size: 20vh;
}
.btn{
    height: 30vh;
    width: 40vh;
    border-radius: 20%;
    border: solid greenyellow;
    background-image: url(https://img.freepik.com/free-photo/asian-woman-wearing-japanese-traditional-kimono-looking-cherry-blossoms-castle-himeji-japan_335224-159.jpg?w=996&t=st=1684579568~exp=1684580168~hmac=bb6ac14c091f1acf525b8c2d488781df1b3c877b40e2b1bcb1c3608bdadc4089);
    background-size: cover;
}
button a{
    text-shadow:-2px 0 rgb(74, 25, 44), 0 2px rgb(74, 25, 44), 2px 0  rgb(74, 25, 44), 0 -2px  rgb(74, 25, 44);
    text-decoration: none;
    color: greenyellow;

}
/* positioned */
.positioned{
    position: relative;
    top: -50px;
}

.lorem{
    border: solid yellowgreen;
    cursor: pointer;
    transition: 0.5s;
}
.lorem:hover{
    transform: scale(1.1);
    background-color: rgb(190, 240, 115);
    border: solid rgb(171, 106, 197);
}
body{
    background-color: rgb(156,189,196);
    color: black;
}
