h1{
    font-family: carrots;
    text-shadow:-2px 0 rgb(74, 25, 44), 0 2px rgb(74, 25, 44), 2px 0  rgb(74, 25, 44), 0 -2px  rgb(74, 25, 44);
}
    

h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4{
    font-family: spective;
}
*{
   
    font-family: comic sans Ms ;
}
:root{
    --acqua-marina:	 rgb(0,255,255);  
    --blue :rgb(0,0,255) ;
    --aliceblue: rgb(240,248,255);
    --darkorchid:rgb(153,50,204);
    --black: rgb(0, 0, 0);
}
.bg-acqua-marina{
    background-color: var(--acqua-marina);
}
.bg-darkorchid{
    background-color: var(--darkorchid);
}
.bg-black{
    background-color: var(--black);
}
.bg-aliceblue{
    background-color: var(--aliceblue);
}
.text-blue{
    color: var(--blue);
}
.text-black{
    color: var(--black);
}
.text-aliceblue{
    color: var(--aliceblue);
}
.text-darkorchid{
    color: var(--darkorchid);
}

.navbar{
    box-shadow: 2px 2px 15px var(--darkorchid);
    transition: 0.5;
    position: sticky;
    top: 0;
    z-index: 2;
}

a{
    text-decoration: none;
}
nav:hover{
    background-color: var(--darkorchid);
    box-shadow: 2px 2px 15px var(--acqua-marina);
}
ul{
    list-style-type: none;
}
#pinkcar{
    transition: 2.5s;
}
.link1:hover{
    color: rgb(255, 0, 255);
    font-style: oblique;
}
.link2:hover{
    color: yellow;
    font-style: oblique;
}
.link3:hover{
    color:var(--aliceblue);
    font-style: oblique;
    
}
.navbott{
background-color: transparent;
border: transparent solid;
}
.tendina{
    background-color: transparent;
    border: transparent solid;
}
.category{
    position: relative;
    top: -3px;
}
.pall_ross{
    position: absolute;
    left: 700px;
    bottom: 34px;
    
}